h1, h5, h6{
  font-family: 'Roboto Slab', serif;
}
h1{
  text-align: center;
  color: #3b3a3a;
}
h2{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}
h5{
  font-weight: bold;
}
h6{
  font-style: italic;
}
.resize{
  margin: auto;
  width: 70%;
  padding: 30px;
}
.italic{
  font-style: italic;
}
