h1, h5, h6{
  font-family: 'Roboto Slab', serif;
}
h2{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}
h5{
  font-weight: bold;
}
h6{
  font-style: italic;
}
