h1, h5, h6{
  font-family: 'Roboto Slab', serif;
}
h1{
  text-align: center;
  color: #3b3a3a;
}
h2{
  font-family: 'Open Sans', sans-serif;
  color: #4a4848;
}
p{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  color: #666363;
}
h5{
  font-weight: bold;
}
h6{
  font-style: italic;
}
#body{
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
}
.italic{
  font-style: italic;
}
img{
  max-width: 70%;
  padding: 4px;
  height: auto;
}
figcaption{
  font-size: 9px;
}
.pquote{
  float: right;
  width: 200px;
  font-weight: bold;
  padding: 13px;
  margin: 0 13px 13px 0;
  color: red;
  font-size: 60px;
  line-height: 0.9;
  font-style: italic;
}
blockquote{
  margin: 0;
}
aside p{
  color: red;
  font-size: 70px;
}
/* This comment is to indicate I know how to add comments to my CSS without the viewer reading it. It will be at the complete end of my css. */
